@font-face {
  font-family: aAbsoluteEmpire;
  src: url(assets/fonts/aAbsoluteEmpire.otf);
}
@font-face {
  font-family: helveticaBold;
  src: url(assets/fonts/Helvetica-Bold-Font.ttf);
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --logo-font: aAbsoluteEmpire;
  --main-font: helveticaBold;

  --main-body-color: #252525;
  --main-nav-color: #3b3b3b;
  --secondary-nav-color: #576057;
  --light-gray-color: #787879;
  --dark-blueish-color: #222429;
  --very-dark-color: 
}

*{
  margin: 0;
}

input[type=text]{
  all: unset;
  border-radius: 5px;
  border: 1px solid black;
  background-color: var(--main-body-color);
}
input[type=text]:hover, input[type=text]:focus{
  border: 1px solid white;
}

@keyframes fadeBgDarkToLight{
  from {background-color: rgba(0, 0, 0, 0);}
  to {background-color: rgba(0, 0, 0, 0.2);}
}
.nav-container{
  all: unset;
  display: block;
  color: inherit;
  font-size: 20px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  width: 220px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 2px;
  cursor: pointer;
}

.nav-container:hover, .nav-container:focus{
  color: inherit;
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-text, .nav-text:hover{
  margin-left: 15px;
  cursor: pointer;
}

.sidenav{
  height: 100%;
  width: 250px;
  position: fixed;
  background-color: var(--main-nav-color);
  color: white;
  font-family: var(--main-font);
  text-align: left;
  box-shadow:
  2.8px 0px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 0px 5.3px rgba(0, 0, 0, 0.014),
  12.5px 0px 10px rgba(0, 0, 0, 0.012),
  22.3px 0px 17.9px rgba(0, 0, 0, 0.01),
  41.8px 0px 33.4px rgba(0, 0, 0, 0.008),
  100px 0px 80px rgba(0, 0, 0, 0.006)
;
}

.sidenav-title{
  font-family: var(--logo-font);
  margin-left: 15px;
  font-size: 20px;
}

#library-add-game-but{
  position: absolute;
  background-image: url(assets/icons/whit_add.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  height: 30px;
  width: 30px;
  left: 200px;
  top: 142px;
  z-index: 1;
}

.stark-logo{
  all: unset;
  font-family: var(--logo-font);
  font-size: 35px;
  margin-top: 20px;
  line-height: 30px;
  height: 60px;
  display: block;
  color: inherit;
  text-align: center;
  margin-bottom: 20px;
}

.stark-logo:hover, .stark-logo:focus{
  color: inherit;
  cursor: pointer;
  text-shadow: 0 0 10px black;
}

#sidenav-search-container{
  display: flex;
  justify-content: center;
  width: inherit;
}

#sidenav-search{
  margin-bottom: 10px;
  box-shadow: none;
  width: 170px;
}

#sidenav-library-transition-top{
  background: rgb(59,59,59);
  background: linear-gradient(0deg, rgba(59,59,59,0) 0%, rgba(59,59,59,0.5) 15%, rgba(59,59,59,1) 30%, rgba(59,59,59,1) 73%);
  position: absolute;
  height: 10px;
  width: 230px;
  top: 165px;
}

#sidenav-library-transition-bottom{
  background: rgb(59,59,59);
  background: linear-gradient(0deg, rgba(59,59,59,1) 27%, rgba(59,59,59,1) 70%, rgba(59,59,59,0.5) 85%, rgba(59,59,59,0) 100%);
  position: absolute;
  height: 10px;
  width: 230px;
  top: 565px;
}

#sidenav-library{
  overflow: auto;
  height: 400px;
  width: 245px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.14);
}

#main-content{
  margin-left: 250px;
}

h1{
  font-family: var(--logo-font);
}