@font-face {
  font-family: a-absolute-empire;
  src: url(assets/fonts/aAbsoluteEmpire.otf);
}

@font-face {
  font-family: helvetica-bold;
  src: url(assets/fonts/Helvetica-Bold-Font.ttf);
}

:root{
  /*Variables*/
  /* Light UI colors. Lightest to darkest.*/
  --color-ui-lightest: #6A6B70;
  --color-ui-very-light: #5B5C62;
  --color-ui-light: #4B4C52;
  --color-ui-less-light: #393A41;
  /*Dark UI colors. Lightest to darkest.*/
  --color-ui-less-dark: #2F3037;
  --color-ui-dark: #26262C;
  --color-ui-very-dark: #1C1C21;
  --color-ui-darkest: #131316;
  /*Text Colors*/
  --color-text-lightest: #fff;
  --color-text-hyperlink: #CCE8F5;
  --color-text-hyperink-hover: #CCD6DB;
  --color-text-hyperlink-visited: #D4CCF5;
  /*Darken*/
  --darken-minimum: rgba(0, 0, 0, 0.3);
  /*Fonts*/
  --stylized-font: a-absolute-empire;
  --regular-font: helvetica-bold;
}

body{
  background-color: var(--color-ui-less-dark);
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--stylized-font);
  color: var(--color-text-lightest);
  letter-spacing: 2px;
}

p{
  font-family: var(--regular-font);
  color: var(--color-text-lightest);
}

a{
  font-family: var(--regular-font);
  color: var(--color-text-hyperlink)
}

a:hover{
  color: var(--color-text-hyperink-hover)
}

a:visited{
  color: var(--color-text-hyperlink-visited);
}

button{
  all: unset;
  font-family: var(--regular-font);
  color: white;
  background-color: var(--color-ui-dark);
  padding: 0.625em;
  border-radius: 0.4375em;
}

button:hover{
  background-color: var(--darken-minimum);
  cursor: pointer;
}