:root{
  /*Variables*/
  /* Light UI colors. Lightest to darkest.*/
  --color-ui-lightest: #6A6B70;
  --color-ui-very-light: #5B5C62;
  --color-ui-light: #4B4C52;
  --color-ui-less-light: #393A41;
  /*Dark UI colors. Lightest to darkest.*/
  --color-ui-less-dark: #2F3037;
  --color-ui-dark: #26262C;
  --color-ui-very-dark: #1C1C21;
  --color-ui-darkest: #131316;
}